@font-face {
    font-family: Scoreboard;
    src: url(./CursedTimerUlil-Aznm.ttf);
}

.top-header {
    width: 100%;
    background-color: black;   
    padding: 20px 0;          
    box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h1 {
    color: white;             
    font-family: Scoreboard; 
    font-size: 50px;
    margin: 0;            
}

body {
    background-color: #1B244A;
}

.container {
    display: flex;
    gap: 75px;
    justify-content: center;
    margin-top: 100px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 40px;
}

.box {
    width: 300px;
    height: 250px;
    background-color: black;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    color: red;
    font-size: 100px;
    font-family: Scoreboard;
    text-align: center;
    margin: 0;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.buttons button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:#2196F3;
    color:white;
    font-family: Scoreboard;
}

.buttons button:hover {
    background-color: black;
}

.reset-container {
    display: flex;         
    justify-content: center; 
    margin-top: 50px;   
}    

.reset_button { 
    background-color: #2196F3;
    color: white;
    font-family: Scoreboard;
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset_button:hover {
    background-color: black;
}